<link rel="stylesheet" href="/stylesheets/auth.scss"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>


<% if (typeof(errorMessage) !== "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>
<% include ../partials/header.ejs  %>
<% include ../partials/LeaderboardButton.ejs %>
<% include ../partials/resourcesPageButton.ejs %>
<div class="Gap">
  <br>
  <br>
  <br>
</div>

<section>
  <form action="/login" method="POST" id="form-container" class="login">
    <input type="text" name="username" title="username" placeholder="Enter your username">
    <label for="username">username</label>
    <br><br>
    <input type="password" name="password" placeholder="Enter your password">
    <label for="password">password</label>
    <br>
    <button class="btn btn-primary">Sign in</button>
    <% if (typeof(errorMessage) !== "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <br><br>
    <p class="account-message">
      Don't have an account? 
      <br><br>
      <span class="label label-success"><a href="/">Sign me up!</a></span>
    </p>
  </form>
</section>
<canvas style="z-index: -1"id="canvas1"></canvas>
<% include ../partials/footer.ejs %>
