<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/title_image.png" sizes="16x16">
    <title>ExHunt</title>
    <link rel="stylesheet" href="stylesheets/dots_background.css"/>
    <link rel="stylesheet" href="stylesheets/share_button.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
    <script type="text/javascript" src="/javascripts/share_button.js"></script>
  </head>
  <body>
    <div class="container"> 