<!-- Leaderboard button -->
<header class="LeaderboardButton">

    <!-- latest compiled CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/partials_style.css">

    <!-- latest compiled JavaSCript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Button parameters -->
    <div class="LButton">
    <p>
        <br>
        <p class="LButtonText">Who's leading the hunt?</p>
        <a href="/leaderboardsPage" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-stats"></span> Leaderboards
          </a>
    </p>
    </div>

</header>