<footer class="logoutbar">
    <div class="footerArea">
        <link rel="stylesheet" type="text/css" href="/stylesheets/logout_style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/partials_style.css">
    <p>Logged in User: <%= username %>
        <button onclick="window.location.href = '/login';">Log Out</button>
    </p>
    </div>
</footer>