<header class="resourcesPageButton">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/partials_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <div class="RButton">
    <p>
        <br>
        <p class="RButtonText">Click Here for answers!</p>
        <a href="/resourcePage" target="_blank" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-question-sign"></span> Help
          </a>
    </p>
    </div>

</header>