<header class="ReturnButton">
    <!-- Button to return to index page -->
    <div class="LButton">
    <p>
        <br>
        <a href="/" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-menu-left"></span> Go Back Home
          </a>
    </p>
    </div>

</header>