<link rel="stylesheet" href="stylesheets/feedback.css"/>
<script type="text/javascript" src="/javascripts/feedback.js"></script>

<div class="bg"></div>
<div class="bg bg2"></div>

<div class="container mt-5">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <form action="/challenge_loop/upload" method="POST" enctype="multipart/form-data" id="form1">
    <div class="form-group">
      <select id="product-select" class="form-control custom-select">
          <option value="0" disabled selected>Select Product</option>
          <% tracks.forEach(function(track) { %>
            <option><%= track.name %></option>
          <% }) %>
        </select>
    </div>
    <div class="form-group">
      <input type="number" id="rating-control" class="form-control" step="0.1" max="5" placeholder="Rate 1 - 5">
      <br>
      <input type="submit" id="submit">
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Latest tracks on ExHunt</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% tracks.forEach(function(track) {%>
        <tr class="sony">
          <td><%= track.name %></td>
          <td>
            <div class="stars-outer">
              <div class="stars-inner"></div>
            </div>
            <span class="number-rating"></span>
          </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<div class="context">
</div>