<link rel="stylesheet" href="stylesheets/feedback.css"/>
<script type="text/javascript" src="/javascripts/feedback.js"></script>

<div class="bg"></div>
<div class="bg bg2"></div>

<div class="container mt-5">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="form-group">
    <select id="product-select" class="form-control custom-select">
        <option value="0" disabled selected>Select Product</option>
        <option value="sony">Sony 4K TV</option>
        <option value="samsung">Samsung 4K TV</option>
        <option value="vizio">Vizio 4K TV</option>
        <option value="panasonic">Panasonic 4K TV</option>
        <option value="phillips">Phillips 4K TV</option>
      </select>
  </div>
  <div class="form-group">
    <input type="number" id="rating-control" class="form-control" step="0.1" max="5" placeholder="Rate 1 - 5">
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Latest tracks on ExHunt</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sony">
        <td>Sony 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="samsung">
        <td>Samsung 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="vizio">
        <td>Vizio 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="panasonic">
        <td>Panasonic 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="phillips">
        <td>Phillips 4K TV</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="context">
</div>