    body {
        height: 100%;
        margin: 0;
    }
    
    .button {
        background-color: #6495ed;
        padding-top:1.5%;
        padding-bottom:1.5%;
        cursor: pointer;
        text-decoration: none;
        width: 47.9%;
        color: azure;
        float: left;
        margin: 1%;
        font-family: arial;
        min-height: 1.5vh;
    }

    .button:hover{
        background-color: #537cc7;
    }

    .challenge {
        width:100%;
        margin: 0;
        margin-bottom: 1%;
        margin-top: 3%;
    }


    .title {
        color: white;
        padding-top: 1%;
        font-family: arial;
    }



    .form_heading {
        min-width: 100%;
        color: #6495ed;
        float: left;
        margin-top: 1%;
        margin-bottom: 1%;
        font-family: arial;
    }

    .upload {
        margin-bottom: 4%;
    }

    .form_p {
        width:100%;
        font-family: arial;
    }

    .back_div {
        min-width:70%;
        max-width: 70%;
        display: inline-block;
        background-color: rgb(228, 228, 228);
        padding-bottom: 2%;
        border-radius: 25px;
    }

    .bd_view {
        padding-bottom: 40%;
    }

