<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/hunter_styles.css">
        <script src="/javascripts/ar.js"></script>
        <script src='https://aframe.io/releases/0.9.2/aframe.min.js'></script>
        <script src='https://raw.githack.com/jeromeetienne/AR.js/master/aframe/build/aframe-ar.min.js'></script>
        <script>
            THREEx.ArToolkitContext.baseURL = 'https://raw.githack.com/jeromeetienne/ar.js/master/three.js/'
        </script>
    </head>
    <body style='margin: 0; display: inline-block;'>
        
        <div>
            <a-scene
                cursor='rayOrigin: mouse; fuse: true; fuseTimeout: 0;'
                raycaster="objects: [gps-entity-place];"
                vr-mode-ui="enabled: false"
                arjs='sourceType: webcam; debugUIEnabled: false;'id="ar">
        
                <a-camera gps-camera="minDistance: 40;" rotation-reader>
                </a-camera>
            </a-scene>
        </div>
    </body>
</html>