<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/hunter_styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body style="text-align:center;background: url('/images/University_of_Exeter_hunters.jpg') no-repeat top fixed; background-size: cover;">
        <div class="back_div">
            <% if (isImage==true) { %>
                <img src="track_loop/image/<%= file.filename %>">
            <% } else { %>
                <video controls autoplay style="margin-top: 5%;">
                    <source src="track_loop/video/<%= file.filename %>">
                </video>
            <% } %>
        </div>
    </body>
</html>