<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/hunter_styles.css">
        <script src="/javascripts/video_end.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body style="text-align:center;background: url('/images/University_of_Exeter_hunters.jpg') no-repeat top fixed; background-size: cover; align-items: center;">
            <div class="back_div" id="vid1">
                <video controls autoplay id = "video1">
                    <source src="track_loop/video/<%= files[0].filename %>">
                </video>
                <a class="button" style="margin-bottom: 1%; border-radius: 10px; width: 48%; margin-left: 1%; margin-right: 1%;" onclick="moveOn('vid1','<%=end %>')">Continue</a>
                <a class="button" style="margin-bottom: 1%; border-radius: 10px; width: 48%; margin-left: 1%; margin-right: 1%;" onclick="replay('video1')">Replay</a>
            </div> 
            <div class="question_div" style="display: none;" id="questions">
                <label style="width: 100%;">Can you Answer this Question?</label>
                <label style="width: 100%;">poo</label>
                <input type="radio" id="yes" name="question" value="yes" onclick="showSelected(this.value)">
                <label for="yes">yes</label>
                <input type="radio" id="no1" name="question" value="no" onclick="showSelected(this.value)">
                <label for="no1">no</label>
                <input type="radio" id="no2" name="question" value="no" onclick="showSelected(this.value)">
                <label for="no2">no</label>
                <p class="questionpara"" id="answer"></p>
                <a class="button" style="margin-bottom: 1%;" onclick="checkQuestion()">Submit</a>
                <p class="questionpara" style="color: red; display: none;" id="wronganswer">This is the wrong answer</p>
            </div>
            <div class="back_div" style="display: none;" id="vid2">
                <video controls id="video2">
                    <source src="track_loop/video/<%= files[1].filename %>">
                </video>   
                <% if(end==false) { %>
                    <a class="button" style="margin-bottom: 1%; border-radius: 10px; width: 48%; margin-left: 1%; margin-right: 1%;" href="/track_loop/loop">Check Location</a>
                <% } else { %>
                    <a class="button" style="margin-bottom: 1%; border-radius: 10px; width: 48%; margin-left: 1%; margin-right: 1%;"href="/feedback">Finish</a>
                <% } %>
                <a class="button" style="margin-bottom: 1%; border-radius: 10px; width: 48%; margin-left: 1%; margin-right: 1%;" onclick="replay('video2')">Replay</a>
            </div>
    </body>

</html>