<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Creation Complete!</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/creator_style.css">
    </head>

    <body style="text-align:center;background: url('/images/exerterbanner.jpg') no-repeat top fixed; background-size: cover;">
        <div style="min-width:65%; display: inline-block;">
            <h1 class="title" style="font-size: 3vw;"></h1>
            <a class="button challenge" href="/creator" style="border-radius: 25px;"><b>Return to Home<b/></a>
        </div>
    </body>


</html>