<!DOCTYPE html>
<html lang="en">
    
    <head>
        <!-- creator homepage view -->
        <title>Track Creator Intro</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/creator_style.css">
    </head>

    <body style="text-align:center;background: url('images/exerterbanner.jpg') no-repeat top fixed; background-size: cover;">
        <h1 class="title" style="font-size: 3vw;">Track Creator</h1>
        <div style="min-width:65%; display: inline-block;margin-bottom: 27%; margin-top: 3%;">
            <a class="button"" href="/challenge_loop" style="border-radius: 25px;"><b>Create</b></a>
            <a class="button";" href="/view_track" style="border-radius: 25px;"><b>View</b></a>
        </div>
    </body>
    <% include ../partials/logoutbar.ejs %>
</html>