<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View Created Tracks</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/creator_style.css">
    </head>

    <body style="text-align:center;background: url('/images/exerterbanner.jpg') no-repeat top fixed; background-size: cover;">
        <h1 class="title" style="font-size: 3vw;">View Your Created Tracks</h1>
        <div class="back_div bd_view">
            <p>
                <%=  %>
            </p>
        </div>
        <div style="min-width:65%; display: inline-block;">
            <a class="button challenge" href="/creator" style="border-radius: 25px;">Return to Home</a>
        </div>
        
    </body>
    <% include ../partials/logoutbar.ejs %>
</html>

